*{
    /*Esta propiedad hace que el valor que le demos al margin border o padding de nuestros 
    elementos, no crescan mas de el valor que se les dio.*/
    box-sizing: border-box; 
}

html{
    scroll-behavior: smooth;
}

body{
    /*En el body quitaremos el margen que trae por defecto, le cambiaremos la fuente y 
    le datremos un color. */
    font-family: 'Roboto',sans-serif;
    margin: 0%;
}

/*En este punto he optado por darle estilo de maner general a los titulos lista y parrafos.*/
h1{font-size: 7vw;}
h2{font-size: 6vw;}
h3{font-size: 5vw;}
p{font-size: 4vw;}
ul{list-style:none;}
li{font-size: large;}

/*Los botones tambien tendran un estilo general*/
button{
    font-size: 4vw;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid cadetblue;
    box-shadow: 2px 2px 10px cadetblue;
    color: brown;
    background-color:cadetblue;
}
button:hover{
    color: burlywood;
}

/*Este contenedor*/
.container{
    max-width: 1000px;
    margin: auto;
}
header{
    background-color: khaki;
}

.logo{
    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    
}

header p{
    margin: 0%;
    padding: 25px 10px;
    font-weight: bold;
    color: brown;
    font-size: 1.35em;
}

header img{
    height: 80px;
    border-radius: 60%;
    margin: 10px 10px;
    box-shadow: 12px 12px 30px brown;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 25px;
}

header a {
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: brown;
}

header a:hover{
    color: burlywood;
}

#hero{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    color: burlywood;

    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/motherboard2.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#hero h1{
    font-size: 8vw;
}

.color1{
    color: cadetblue;
}

#nosotros{
    display: flex;
    background-color: khaki;
    height: 100vh;
   
}

#nosotros h2{
    font-size: 8vw;
}

#nosotros .container{
    text-align: center;
    padding: 20px 20px;
}

.color2{
    color: burlywood;
}
.color3{
    color: bisque;

}
/*Este es el estilo de las cartas de nuestro documento index.htlm en la seccion productos*/
#productos{
    color: burlywood;
    text-align: center;
    height: 80vh;

    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.9),
        rgba(0,0,0,0.9)
    )
    ,url("img/componentes.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#productos .container{
    padding: 10px 0px;
}

#productos h3{
    margin-top: 0%;
}

#productos p{
    display: none;
}

#productos .carta{
    background-position: center center;
    background-size: cover;

    padding: 30px;
    margin: 6px;
    border-radius: 10%;

}

.carta:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/reparador.jpg");

}

.carta:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/depositphotos.jpg");
    
}

.carta:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/motherboard.jpg");
    
}

/*Este es el estilo de las tarjetas procesadores de nuestro documento procesadores.htlm
 en la seccion procesador*/
#procesadores{
    color: burlywood;
    text-align: center;
    height: 80vh;

    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.9),
        rgba(0,0,0,0.9)
    )
    ,url("img/componentes.jpg");

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#procesadores .container{
    padding: 10px 0px;
}

#procesadores h3{
    margin-top: 0%;
    margin-bottom: 30px;
}

#procesadores p{
    display: none;
}

#procesadores .procesador{
    /* background-position: center; */
    background-size: 100% 35%;
    background-repeat: no-repeat;
    background-color: rgb(80,80,80);
    background-position-y: 0%;
    padding: 50px;
    margin: 30px;
    border-radius: 10%;

}

.procesador:first-child{
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/core-x-series.jpg");

}

.procesador:nth-child(2){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/Pentium-1.jpg");
    
}

.procesador:nth-child(3){
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    )
    ,url("img/Celeron.jpg");
    
}




/*Este es el estilo de la seccion caracteristicas que solo cuenta con una lista de adjetivos.*/
#caracteristicas .container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    color: bisque;

    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7)
    )
    ,url("img/motherboard3.jpg");

    background-position: center center;
    background-size: cover;

}

#caracteristicas li{
    margin: 16px 16px;
    font-weight: bold;
}


/*Esta es nuestra secion comprar, la cual contiene un logo.*/
#comprar{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.8),
        rgba(0,0,0,0.8)
    )
    ,url("img/motherboard5.jpg");

    background-position: center center;
    background-size: cover;
    color: brown;
    height: 100vh;

}

#comprar h2{
    font-size: 8vw;
}
#comprar .logo2 img{
    height: 150px;
    border-radius: 60%;
    margin: 20px;
    box-shadow: 12px 12px 12px brown;
}

footer{
    background-color: rgb(210,210,210);
}

footer p{
    margin: 0%;
    padding: 12px;
    color: rgb(100,100,100);

}

footer .container{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

}


@media(min-width: 700px){
    header{
        position: fixed;
        width: 100%;
    }

    
    .container{
        max-width: 100%;
    }


    .logo{
        flex-direction: row;
        align-items: center;
        justify-content: space-between;

    }

    header .container{
        flex-direction: row;
        justify-content: space-around;
    }

    header nav{
        flex-direction: row;
        padding: 0;
        padding-right: 26px;
    }

    #hero h1{
        font-size: 60px;
    }

    #hero button{
        font-size: medium;
    }

    
    #nosotros h2{
        font-size: 50px;
    }
    #nosotros .container p{
        font-size: 20px;
    }


    #productos{
        height: 100vh;
        display: flex;
    }

    #productos .container h2{
        font-size: 50px;
    }

    #productos .componentes .carta h3{
        font-size: 30px;
    }

    #productos .componentes .carta p{
        font-size: 15px;
        display: block;
        margin-bottom: 30px;
    }

    #productos .componentes .carta button{
        font-size: medium;
    }

    #productos .componentes{
        display: flex;

    }

    /*Este es el estilo de las tarjetas procesador de nuestro documento procesadores.htlm
    en la seccion procesadores*/
    #procesadores{
        height: 100vh;
        display: flex;
    }

    #procesadores .container h2{
        font-size: 50px;
    }

    #procesadores .componentes .procesador h3{
        font-size: 30px;
    }

    #procesadores .componentes .procesador p{
        font-size: 15px;
        display: block;
        margin-bottom: 30px;
    }

    #procesadores .componentes .procesador button{
        font-size: medium;
    }

    #procesadores .componentes{
        display: flex;

    }

/*Esta es nuestra seccion de compras */
    #comprar h2{
        font-size: 50px;
        padding: 20px;
    }

    #comprar button{
        font-size: medium;
        margin-bottom: 20px;
    }

    footer .container p{
        font-size: 20px;
    }

    
}